// ===== bootstrap ===== //
@import "~bootstrap/scss/bootstrap";


// ===== default ===== //
@import "default/veriables";
@import "default/reset";
@import "default/shortcode";
@import "default/mixin";
@import "default/slick_style";
@import "default/social_share";


// ===== elements ===== //
@import "elements/side_navigation";
@import "elements/section_title";
@import "elements/home";
@import "elements/about";
@import "elements/testimonial";
@import "elements/clients";
@import "elements/card";
@import "elements/react_model";
@import "elements/portfolio";
@import "elements/blogs";
@import "elements/contact";


// ===== dark mode ===== //
body.dark {
    background: $background_color_2 !important;    
}

.dark_and_light{
    position: fixed;
    top: 20%;
    left: 0;
    font-size: 23px;
    padding: 6px 11px 5px 11px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border: none;
    background: $gradient_red_hover;
    color: $color_white;
    z-index: 1000;
}

