
@mixin main_title {
    font-size: 31px;
    font-weight: $s_bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: $color_heading_wv;

    @media #{$large_mobile} {
        font-size: 30px;
    }

    @media #{$small_mobile} {
        font-size: 25px;
    }
}

@mixin title {
    font-family: $font_primary;
    font-size: 24px;
    line-height: 39px;
    margin-bottom: 7px;
    font-weight: $p_semi_bold;
    text-transform: capitalize;

    @media #{$large_mobile} {
        font-size: 22px;
    }
}

@mixin transition {
    -webkit-transition: all 0.2s ease-in-out;
    transition:  all 0.2s ease-in-out;
}

@mixin subtitle {
    font-size: 14px;
    font-family: $font_secondary;
    color: $color_primary;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: $p_medium;
    display: block;
    margin-bottom: 20px;
}

@mixin input {
    background: #fdfefe;
    border-radius: 6px;
    height: 55px;
    width: 100%;
    transition: $transition;
    border: 2px solid #dadada;
    padding: 0 15px;
    font-size: 14px;
    font-family: $font_primary;
    color: #3c3e41;
    letter-spacing: 1px;
    outline: none;

    &:focus{
        border: 2px solid $color_primary!important;
    }
}

@mixin textarea {
    background: #fdfefe;
    border: 2px solid #dadada;
    font-family: $font_secondary;
    color: $color_body_white;
    height: 200px;
    width: 100%;
    border-radius: 6px;
    padding: 0;
    transition: $transition;
    padding: 15px 15px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1px;
    resize: none;
    outline: none;

    &:focus{
        border: 2px solid $color_primary!important;
    }
}