.blogs .main_content{
    padding-bottom: 3rem;
}

.blog_details .main_content .thumbnail .inner{
    border-radius: 10px;
    overflow: hidden;
}

.blog_details .main_content .thumbnail .inner img{
    border: 0;
    vertical-align: middle;
    width: 100%;
    height: auto;
}

.blog_details .main_content .details{
    margin-top: 30px;
    margin-bottom: 33px;
}

.blog_details .main_content .details .meta{
    border-bottom: 1px solid #d9dee2;
    padding-bottom: 5px;
    text-transform: uppercase;
    color: $color_primary;
    font-weight: $p_semi_bold;
}

.blog_details .main_content .details .title{
    @include main_title;
    font-size: 28px;
    margin-top: 15px;
}

.blog_details .main_content .text_content .description .bigger{
    font-size: 17px;
    margin-bottom: 33px;
    font-weight: $p_medium;
}

.blog_details .main_content .text_content .description p{
    margin-bottom: 22px;
}

.blog_details .main_content .text_content .description .quote_box{
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    position: relative;
    padding-left: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.blog_details .main_content .text_content .description .quote_box .icon{
    position: absolute;
    top: 10px;
    left: 0;
}

.blog_details .main_content .text_content .description .quote_box .icon i{
    font-size: 56px;
}

.blog_details .main_content .text_content .description .quote_box .icon p{
    font-size: 17px;
    font-weight: $p_medium;
}


// ===== dark mode ===== //
body.dark .blog_details .main_content .details .meta{
    border-bottom: 1px solid $background_color_4;
}

body.dark .blog_details .main_content .details .title{
    color: $color_lightn;
}

body.dark .blog_details .main_content .text_content .description .bigger{
    color: $color_lightn;
}

body.dark .blog_details .main_content .text_content .description p{
    color: $color_body;
}

body.dark .blog_details .main_content .text_content .description .quote_box .icon i{
    color: $color_lightn;
}

body.dark .blog_details .main_content .text_content .description .quote_box p{
    color: $color_lightn;
}