.card{
    text-align: left;
    padding: 45px 25px 25px;
    position: relative;
    border-radius: 10px;
    background: $gradient_box_w;
    box-shadow: $shadow_white_3;
    position: relative;
    z-index: 1;
    height: 100%;
    display: inline-block;
    border: none;
    @include transition;

    @media #{$large_mobile} {
        padding: 45px 20px 25px;
    }

    &:hover{
        .inner{
            .card_thumbnail{
                img{
                    transform: scale(1.1);
                }
            }
        }
    }

    .inner{

        .card_thumbnail{
            border-radius: 10px;
            overflow: hidden;

            img{
                width: 100%;
                height: auto;
                object-fit: cover;
                cursor: pointer;
                @include transition;
            }
        }

        .card_content{
            padding-top: 18px;

            .category_info{
                display: flex;
                justify-content: space-between;
                padding-bottom: 10px;

                .category_list{
                    text-transform: uppercase;
                    color: $color_primary;
                    font-weight: 600;
                }

                .meta{
                    font-weight: 600;
                    font-family: $font_primary;
                    font-size: 13px;

                    i{
                        color: $color_primary
                    }
                }
            }

            .title{
                @include title;
                cursor: pointer;
                @include transition;
                
                &:hover{
                    color: $color_primary;
                }
            }

        }
    }
}



// ===== dark mode ===== //
body.dark .card{
    background: $background_color_1;
    box-shadow: $shadow_1;

    .inner .card_content{

        .category_info .meta{
            color: $color_lightn;
        }

        .title{
            color: $color_lightn;

            &:hover{
                color: $color_primary;
            }
        }
    }
}