.home{
    height: 100vh;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;

    @media #{$md_layout, $sm_layout}{
        height: auto;
        padding: 60px 0;
    }


    .home_content{
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;

        .inner{
            margin-bottom: 100px;

            @media #{$lg_layout} {
                margin-bottom: 50px;
            }

            @media #{$md_layout, $sm_layout}{
                margin-top: 50px;
            }

            .subtitle{
                @include subtitle;
                color: $color_body_white;
            }

            .title{
                font-weight: 800;
                font-size: 70px;
                line-height: 80px;
                margin-bottom: 22px;
                font-family: $font_secondary;

                @media #{$lg_layout}{
                    font-size: 60px;
                    line-height: 75px;
                }

                @media #{$md_layout}{
                    font-size: 70px;
                    line-height: 80px;
                }

                @media #{$sm_layout} {
                    font-size: 60px;
                    line-height: 75px;
                }

                @media #{$large_mobile} {
                    font-size: 50px;
                    line-height: 60px;
                }

                @media #{$small_mobile} {
                    font-size: 38px;
                    line-height: 50px;
                }

                .text{
                    color: $color_primary;
                }
            }

            .description{
                font-size: 16px;
                line-height: 30px;
                color: $color_body_white;
                font-family: $font_secondary;
                padding-right: 16%;
                opacity: 0.9;

                @media #{$md_layout, $sm_layout}{
                    padding-right: 0%;
                }

                @media #{$sm_layout} {
                    font-size: 15px;
                }
            }
        }

    }

    .thumbnail{
        position: relative;
        z-index: 2;
        
        &::before{
            content: "";
            position: absolute;
            z-index: -1;
            width: 100%;
            height: calc(100% - 130px);
            left: 50%;
            bottom: 0;
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            transform: translateX(-50%);
            background: $background_color_3;
            box-shadow: $shadow_white_3;
            border-radius: 6px;
        }

        .inner{
            text-align: center;  

            img{
                border: 0;
                vertical-align: middle;
                max-width: 100%;
                height: auto;
            }
        }

    }

}


// ===== dark mode ===== //
body.dark .home{

    .home_content .inner{

        .subtitle{
            color: $color_lightn;
            opacity: 0.9;
        }
    
        .title{
            color: $color_heading;
    
            .text{
                color: $color_primary;
            }
        }
    
        .description{
            color: $color_lightn;
            opacity: 0.9;
        }
    }

    .thumbnail{

        &::before{
            background: $background_color_1;
            box-shadow: $shadow_1;
        }
    }
}

