.portfolio{
    padding-bottom: 3rem;

    .portfolio_tags{
        margin-bottom: 20px;

        .tag{
            @include button;
            margin: 10px 5px;
            color: $color_heading_wv;

            @media #{$sm_layout} {
                width: 100%;
            }
        }

        .active{
            color: $color_secondary;
            background: $gradient_red_hover;
        }
    }
}

.porfolio_details{

    .porfolio_details_thumbnail{
        
        .inner{
            border-radius: 10px;
            overflow: hidden;

            img{
                border: 0;
                vertical-align: middle;
                width: 100%;
                height: auto;
            }
        }
    }

    .text_content{
        margin-top: 20px;
        
        .inner{

            .subtitle{
                @include subtitle;
            }

            .title{
                @include main_title;
                font-size: 28px;
            }

            .description_1, .description_2{
                margin-bottom: 20px;
                font-size: 16px;
                color: $color_body_white;
            }

        }
    }

    .btn_group{
        margin-left: -10px;

        .button{
            border: none;
            background: $gradient_box_w;
            box-shadow: $shadow_white_3;
            height: 60px;
            line-height: 60px;
            padding: 0 20px;
            font-size: 16px;
            text-transform: uppercase;
            border-radius: 6px;
            font-weight: 500;
            color: $color_primary;
            transition: $transition;
            margin: 0 10px;

            &:hover{
                background: $gradient_red_hover;
                transform: translateY(-5px);
                color: $color_heading;
            }

            @media #{$large_mobile} {
                
            }
        }

    }
}



// ===== dark mode ===== //
body.dark{

    .portfolio .portfolio_tags{

        .tag{
            color: $color_lightn;
            background: $background_color_1;
            box-shadow: $shadow_1;

            &:hover{
                background: $gradient_black_hover;
                color: $color_primary;
            }
        }
    
        .active{
            color: $color_primary;
            background: $gradient_black_hover;
        }
    }


    .porfolio_details .text_content .inner{
        
        .title{
            color: $color_lightn;
        }

        .description_1, .description_2{
            color: $color_body;
        }
    }

    .btn_group .button{
        background: $background_color_1;
        box-shadow: $shadow_1;

        &:hover{
            background: $gradient_black_hover;
            color: $color_primary;
        }
    }

}




