.portfolio{
    margin-bottom: 5rem;

    .portfolio_tags{
        margin-bottom: 20px;

        .tag{
            background: $gradient_box_w;
            box-shadow: $shadow_white_3;
            color: $color_midgray;
            font-weight: 600;
            padding: 10px 25px;
            margin: 10px 5px;
            border: none;
            border-radius: 5px;

            @media #{$sm_layout} {
                width: 100%;
            }
        }

        .active{
            color: $color_secondary;
            background: $gradient_red_hover;
        }
    }
}

.porfolio_details{

    .porfolio_details_thumbnail{
        
        .inner{
            border-radius: 10px;
            overflow: hidden;

            img{
                border: 0;
                vertical-align: middle;
                width: 100%;
                height: auto;
            }
        }
    }

    .text_content{
        margin-top: 20px;
        
        .inner{

            .subtitle{
                @include subtitle;
            }

            .title{
                @include main_title;
                font-size: 28px;
            }

            .description_1, .description_2{
                margin-bottom: 20px;
                font-size: 16px;
                color: $color_body_white;
            }

            .btn_group{
                margin-left: -10px;

                .button{
                    border: none;
                    background: $gradient_box_w;
                    box-shadow: $shadow_white_3;
                    height: 60px;
                    line-height: 60px;
                    padding: 0 20px;
                    font-size: 16px;
                    text-transform: uppercase;
                    border-radius: 6px;
                    font-weight: 500;
                    color: $color_primary;
                    transition: $transition;
                    margin: 0 10px;

                    &:hover{
                        background: $gradient_red_hover;
                        transform: translateY(-5px);
                        color: $color_heading;
                    }

                    @media #{$large_mobile} {
                        
                    }
                }

            }
        }
    }
}
