.th_preview{
    width: 100%;
    height: 100vh;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.th_preview .container{
    @media #{$lg_device} {
        max-width: 1100px;
    }
}

.th_preview .th_title{
    position: fixed;
    top: 5%;
    width: 100%;
    text-align: center;
}

.th_preview .th_title h1{
    font-size: 40px;
    font-weight: 700;
    color: $color_heading_wv;
    text-transform: capitalize;
    margin-bottom: 4px; 
}

.th_preview .th_title span{
    font-size: 21px;
    font-weight: 600;
    color: $color_body_white;
    opacity: 0.8; 
}

.th_preview .th_demo{
    margin-bottom: 20px;
    @include transition; 
}

.th_preview .th_demo:hover{
    transform: translateY(-10px);
}

.th_preview .th_demo .demo_img{
    outline: none;
    overflow: hidden;
    padding: 10px;
}

.th_preview .th_demo .demo_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.th_preview .th_demo .demo_title{
    font-size: 21px;
    font-weight: 600;
    margin-top: 10px; 
}

.th_preview .price_btn{
    position: fixed;
    bottom: 5%;
    width: 100%; 
}

.th_preview .price_btn .buy_btn{
    @include button;
    font-size: 20px;
    text-transform: capitalize;
}
